img {
  border-radius: 20px;
  width: 500px;
  margin-left: 50px;
  margin-bottom: 60px;
  box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  img {
    margin-left: 0;
    width: 400px;
    margin-bottom: 30px;
  }
}
