.Search {
  font-family: "Cabin", sans-serif;
}

.synonyms li {
  display: inline-block;
  margin: 10px 15px 0 0;
  margin-bottom: 0;
  border: 1px solid #e7e7e7;
  padding: 5px 10px;
  border-radius: 8px;
  background: #e7e7e7;
}

.synonyms ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.definition {
  font-size: 20px;
}
.search-form {
  display: block;
  margin: 10px auto;
  text-align: center;
  margin-bottom: 80px;
}
h2 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
}
h4 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #707070;
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 24px;
}
form .search-area {
  width: 753px;
  height: 75px;
  padding: 20px;
  font-size: 24px;
  color: #494949;
  background: #f3f3f3;
  border: 1px solid #a6a6a6;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
form .submit-area {
  height: 75px;
  width: 112px;
  color: #e74a5f;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #a6a6a6;
  margin-top: 2px;
}
button {
  background: #e74a5f;
}
.fa-solid {
  font-size: 30px;
  color: white;
}

section {
  border: 2px solid #bdbdbd;
  border-radius: 20px;
  padding: 30px 40px;
  margin-bottom: 20px;
}
.Synonims li {
  padding: 10px;
}
.example {
  color: #707070;
  font-style: italic;
  font-size: 20px;
}

@media (max-width: 1000px) {
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
  }
  section {
    padding: 15px 20px;
  }
  .search-form {
    margin: 20px auto;
  }
  form .search-area {
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 20px 5px 20px;
  }
  form .submit-area {
    width: 80px;
    height: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .fa-solid {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .definition {
    font-size: 16px;
  }
  .example {
    font-size: 16px;
  }
  .search-form {
    margin: 15px 0px;
  }
  form .search-area {
    width: 250px;
    height: 35px;
    font-size: 16px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0px 20px 2px 20px;
  }
  form .submit-area {
    width: 40px;
    height: 35px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }
  .fa-solid {
    font-size: 15px;
  }
}
